---
layout: strata
title: Projects
---
<script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/0.8.1/mustache.min.js"></script>

<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/thenaterhood.js"></script>

<link rel="stylesheet" href="/assets/css/cards.css" />

<h1>Projects</h1>
<p>Latest project versions are pulled from the Github API where available. Most projects are licensed under open source licenses and are freely available for reuse and contributions.</p>

<h2>Personal Projects</h2>
<p>Projects I am actively working on. Also check out my Github and the other sections of projects further down the page.</p>

{% for project in site.data.active_projects %}
<div class="card-wrapper">
    		<div class="card radius shadowDepth1">
    			<div class="card__content card__padding">
    				<div class="card__meta">{{ project.type }}
    				</div>
    				<article class="card__article">
	    				<h3 class="card__title"><a class="card" href="{{ project.url }}">{{ project.title }}</a> <span id="ver-{{ project.title }}"></span>
              </h3>

              {% assign version_provider = project.version_provider | strip_newlines %}
              {% if version_provider == "github" %}
              <script>populate_latest_gh_release("{{ project.title }}", "thenaterhood");</script>
              {% endif %}
	    				<p>{{ project.description }}</p>
	    			</article>
    			</div>
  </div>
</div>
{% endfor %}

<br />
<h2>Open Source Involvement</h2>
<br />

{% for project in site.data.foss_projects %}
<div class="card-wrapper">
    		<div class="card radius shadowDepth1">
    			<div class="card__content card__padding">
    				<div class="card__meta">{{ project.type }}
    				</div>
    				<article class="card__article">
	    				<h3 class="card__title"><a class="card" href="{{ project.url }}">{{ project.title }}</a> <span id="ver-{{ project.title }}"></span>
              </h3>

              {% assign version_provider = project.version_provider | strip_newlines %}
              {% if version_provider == "github" %}
              <script>populate_latest_gh_release("{{ project.title }}", "{{ project.org }}");</script>
              {% endif %}
	    				<p>{{ project.description }}</p>
	    			</article>
    			</div>
  </div>
</div>
{% endfor %}
