<h2>Share this</h2>
<span class="share-widget">
<a rel="noopener" target="_blank" href="http://twitter.com/share?url={{site.url}}{{page.url}}&text={{page.title}}" class="btn-reflowable share-btn twitter">
    <i class="icon brands fa-twitter"></i>
</a>
<a rel="noopener" target="_blank" href="http://www.facebook.com/sharer/sharer.php?u={{site.url}}{{page.url}}" class="btn-reflowable share-btn facebook">
    <i class="icon brands fa-facebook"></i>
</a>
<a rel="noopener" target="_blank" href="http://www.linkedin.com/shareArticle?url={{site.url}}{{page.url}}" class="btn-reflowable share-btn linkedin">
    <i class="icon brands fa-linkedin"></i>
</a>
<a rel="noopener" target="_blank" href="http://reddit.com/submit?url={{site.url | cgi_escape}}{{page.url || cgi_escape}}&title={{page.title | cgi_escape}}" class="btn-reflowable share-btn reddit">
    <i class="icon brands fa-reddit"></i>
</a>
<a rel="noopener" target="_blank" href="mailto:?body={{site.url | cgi_escape}}{{page.url || cgi_escape}}&subject={{page.title | cgi_escape}}" class="btn-reflowable share-btn email">
    <i class="fa fa-envelope"></i>
</a>
</span>
