<!-- <div class="blue-alert-bar">
    New book: <em>The Thought Trap</em> is available! <a class="blue-alert-a" href="https://book.thenaterhood.com">Learn more and get your copy here.</a>
</div>
-->
<!--<div class="red-alert-bar">
    Red Alert for Net Neutrality. <a class="red-alert-a" href="https://www.battleforthenet.com/" target="_new">Take Action</a> | <a class="red-alert-a" href="/causes/net-neutrality">Learn About Net Neutrality</a>.
</div> -->
<!--
<div class="blue-alert-bar">
    In the U.S.? Make sure to vote in the 2020 election. Everything you need can be found at <a class="blue-alert-a" rel="noopener" target="_blank" href="https://www.vote.org/">https://www.vote.org/</a>
</div>
-->
