<!DOCTYPE HTML>
<!--
	Strata by HTML5 UP
	html5up.net | @n33co
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
                <title>{{ page.title }} - Nate Levesque</title>
                <link rel="canonical" href="{{ site.url }}{{ page.url }}" />
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="/assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="/assets/css/main.css" />
                <link rel="stylesheet" href="/assets/css/alert.css" />
                <link rel="stylesheet" href="/assets/css/share.css" />
                <link rel="stylesheet" href="/assets/css/misc.css" />
                <link rel="stylesheet" href="/assets/css/customizations.css" />
                <meta name="referrer" content="no-referrer" />
                {% if false %}
                <!-- The whitespace has been removed from this section of code because it breaks open-graph URL parsing -->
                {% endif %}
                <meta name="twitter:card" content="summary_large_image" />
                <meta name="twitter:creator" content="@thenaterhood" />
                {% if page.author %}
                <meta name="author" content="{{ page.author }}" />
                {% else %}
                <meta name="author" content="Nate Levesque" />
                {% endif %}
                {% if page.date %}
                <meta name="date" content="{{ page.date }}" />
                {% endif %}
		<meta property="og:image" content="{% if page.head-image %}{% if page.head-image contains 'http://' %}{{ page.head-image }}{% elsif page.head-image contains '/' %}{{ site.og_url }}{{ page.head-image }}{% else %}{{ site.og_url }}/images/posts/{{ page.head-image }}{% endif %}{% else %}{{ site.og_url }}/images/og-default.png{% endif %}" />
                <meta property="og:title" content="{{ page.title }}" />
                <meta property="og:url" content="{{ site.url }}{{ page.url }}" />
	</head>
	<body id="top">
{% include sitewide-codeload.html %}
