<header id="header"
        {% if page.head-image %}
          {% if page.head-image contains '/' %}
            style="background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.9) ), url('{{page.head-image}}') center top no-repeat; background-size: cover;"
          {% else %}
            style="background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.9) ), url('/images/posts/{{page.head-image}}') center top no-repeat; background-size: cover;"
          {% endif %}
        {% else %}
          class="default-head-image"
        {% endif %}
        >
        <div class="inner">
          <a href="/" class="image avatar"><img src="/images/avatar.jpg" alt="" /></a>
          <h1 class="site-header">The Philosophy of Nate
          </h1>
          <span id="nav">
            <a href="/">Home</a><br />
            <a href="/projects">Projects</a><br />
            <a name="scroll-to"></a>
            <a href="/blog">Blog</a><br />
            <a href="/causes/net-neutrality">Net Neutrality</a><br />
            <a href="/books">Books</a><br />
            <!--
              <a href="/">Site Home</a><br />
              <a href="/blog">Blog Home</a><br />                                <a name="scroll-to"></a>

              <a href="/blog/titles">Post List</a><br />
              <a href="/causes/net-neutrality">Net Neutrality</a><br />
              <a href="/books">Books</a><br />                                <div class="scroll-down-link">
              <a class="icon fa-angle-double-down" href="#scroll-to"></a></div>
            -->

            <div class="scroll-down-link">
              <a class="icon solid fa-angle-double-down" href="#scroll-to"></a>
            </div>
          </span>

        </div>
        <!-- Footer -->
        <footer id="footer">
          <div class="inner">
            <ul class="icons">
              <li><a rel="me" href="https://mastodon.sdf.org/@thenaterhood" class="icon brands fa-mastodon"><span class="label">Mastodon</span></a></li>
              <li><a href="https://twitter.com/thenaterhood" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
              <li><a rel="me" href="https://github.com/thenaterhood" class="icon brands fa-github"><span class="label">Github</span></a></li>
              <li><a rel="me" href="https://linkedin.com/in/thenaterhood" class="icon brands fa-linkedin"><span class="label">LinkedIn</span></a></li>
              <li><a target="_new" href="https://mailhide.io/e/NI1QZnf8" class="icon fa-envelope"><span class="label">Email</span></a></li>
              <li><a href="http://feeds.thenaterhood.com/nphilosophy" class="icon solid fa-rss"><span class="label">Feed</span></a></li>
            </ul>
            <ul class="copyright">
              <li><a rel="license" href="/licenses/content/"><img alt="Creative Commons License" style="border-width:0; opacity: .4;" src="https://i.creativecommons.org/l/by-sa/4.0/80x15.png" /></a></li>
              <li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
              <!-- 
                <li><a href="https://about.gitlab.com/2016/04/07/gitlab-pages-setup/">Powered by Gitlab Pages</a></li>
              -->
              <li><a href="/privacy-policy">Privacy</a></li>
            </ul>
          </div>
        </footer>
</header>


