.alert {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 0.9em;
    padding-left: 0.9em;
    box-shadow: 0 5px 0 hsla(0,0%,0%,.15);
    font: inherit;
    font-weight: 400;
    line-height: 1.5em;
    display: inline-block;
    width: 100%;
    margin-bottom: 15px;
}

.alert-warning {
    background: orange;
    color: black;
}

.alert-info {
    background: #1B87C2;
    color: white;
}

.alert-img {
    vertical-align: middle;
    display: table-cell;
    padding-right: 10px;
    padding-top: 10px;
}

.alert-txt {
    vertical-align: middle;
    display: table-cell;
}

.alert-img-image {
    height: 128px;
}

.alert-img-image-a {
    text-decoration: none;
    border-bottom: 0px;
}

@media (max-width: 350px) {
    .alert-img {
       display: none;
    }
}

/* Site top alert bar */

.red-alert-bar {
    position: fixed;
    display: block;
    width: 100%;
    z-index: 100;
    background: #D40A2A;
    text-align: center;
    color: white;
    padding-top: .5%;
    padding-bottom: .5%;
}

.red-alert-a {
    color: white;
}

.blue-alert-bar {
    position: fixed;
    display: block;
    width: 100%;
    z-index: 100;
    background: #1B87C2;
    text-align: center;
    color: white;
    padding-top: .5%;
    padding-bottom: .5%;
}

.blue-alert-a {
    color: white;
}
