---
# this ensures Jekyll reads the file to be transformed into CSS later
# only Main files contain this front matter, not partials.
---

/** CSS for cards based on code from http://codepen.io/mithicher/pen/azQKNN/
/**
 * Basics Styles
 */

$corner-radius: 2px;
$internal-padding: 1.6rem;
$exterior-margins: -1.38em;
$card-color: #1C2C3E;

a.card {
    text-decoration: none;
}

h3.card__title {
    line-height: 1.2;
    margin-bottom: $internal-padding;
}

.card-wrapper {
    max-width: 1300px;
    margin: 12px auto;
    margin-left: $exterior-margins;
    margin-right: $exterior-margins;
}

/**
 * Helpers
 */
.border-tlr-radius {
    border-top-left-radius: $corner-radius;
    border-top-right-radius: $corner-radius;
}

.radius { border-radius: $corner-radius; }

.padding-tb { padding-top: $internal-padding; padding-bottom: $internal-padding;}

.shadowDepth0 { box-shadow: 0 1px 3px rgba(0,0,0, 0.12); }

.shadowDepth1 {
    box-shadow:
    0 3px 9px rgba(0,0,0, 0.12),
    0 3px 6px rgba(0,0,0, 0.24),
}

.card__image {
    min-height: 50px;
    max-height: 200px;
    overflow: hidden;
    background-color: #eee;
}
.card__image img {
    width: 100%;
    max-width: 100%;
    display: block;
    padding-bottom: 100px;

}

.card__content {
    position: relative;
}

/**
 * Card Styles
 */

.card {
    background-color: $card-color;
}

.card__padding {
    padding: $internal-padding;
}

.card__content {
    position: relative;
}

/* card article */
.card__article a {
    text-decoration: none;
}
.card__article a:hover {
}

/* card action */
.card__action {
    overflow: hidden;
    padding-right: $internal-padding;
    padding-left: $internal-padding;
    padding-bottom: $internal-padding;
    text-transform: uppercase;
}

.card__author {}
