{% include strata-head.html %}
{% include strata-blog-header.html %}

<div id="main">
    <section>

        <h1>{{ page.title }}</h1>
        <h4>{{ page.date | date_to_long_string }}<span id="reading-time"></span></h4>
        {% if page.updated %}
            {% assign last_update = page.updated %}
            <h5><em>Updated {{ page.updated | date_to_long_string }}</em></h5>
        {% else if page.updates %}
            {% for update in page.updates %}
                {% for reason in update %}
                    <h5>
                        <em>Updated {{ reason[0] | date_to_long_string }}: {{ reason[1] }}</em>
                    </h5>

                    {% comment %}
                    When iterating through a hash, index 0 is the key and
                    index 1 is the value. We want to date, which is the
                    key. By assigning each loop, we'll end up with the
                    last one.
                    {% endcomment %}
                    {% assign last_update = reason[0] %}
                {% endfor %}

            {% endfor %}
        {% endif %}
        <span class="alert alert-info" style="display:none;" id='outdated-post-alert'></span>

        <span id="post-content">
        {{ content }}
        </span>

        {% if page.tags contains "net-neutrality" %}
                {% assign book_title = 'Please Upgrade For Access' %}
                {% assign book_url = 'https://book.thenaterhood.com/books/please-upgrade-for-access' %}
                {% assign book_image = '/images/covers/please-upgrade-for-access.png' %}
                {% assign book_action_call = 'Care about an open and neutral Internet? Check out my book, ' %}
                {% assign book_human_url = 'book.thenaterhood.com' %}
                {% include book-banner.html %}
        {% comment %} just wildcarding this
        {% elsif page.tags contains "upstream-neutrality" %}
        {% endcomment %}
        {% elsif page.tags contains "no-book-footer" %}
        {% else %} 
                {% assign book_title = 'The Thought Trap' %}
                {% assign book_url = 'https://book.thenaterhood.com/books/the-thought-trap' %}
                {% assign book_image = 'https://book.thenaterhood.com/images/cover-thethoughttrap.png' %}
                {% assign book_action_call = 'Care about what the web is doing to our minds? Check out my book, ' %}
                {% assign book_human_url = 'book.thenaterhood.com' %}
                {% include book-banner.html %}        

        {% endif %}
    </section>
    <h4 align="center">&bull;&nbsp;&bull;&nbsp;&bull;</h4>
    <p align="center"><a class="button" href="https://subscribe.thenaterhood.com">Stay updated by email</a><br /><em> or, <a href="http://feeds.thenaterhood.com/nphilosophy">grab the feed</a></em></p>
    <p align="center"><a href="/factcheck">Found something wrong? Get in touch.</a></p>

    {% include related_posts-list.html %}
    {% include share-widget.html %}

</div>

<script src="/assets/js/thenaterhood.js"></script>
<script>
    {% if last_update %}
    let post_date = Date.parse('{{ last_update | date: "%Y-%m-%d" }}');
    {% else %}
    let post_date = Date.parse('{{ page.date | date: "%Y-%m-%d" }}');
    {% endif %}
    populate_outdated_content_alert('outdated-post-alert', post_date, 'inline-block');
    populate_time_to_read('reading-time', 'post-content', true);
</script>

{% include strata-footer.html %}
